@using Microsoft.AspNetCore.Identity
@using WepAppAccessToApi.Areas.Identity.Data

@inject SignInManager<WepAppAccessToApiUser> SignInManager
@inject UserManager<WepAppAccessToApiUser> UserManager


<div class="container-fluid">
    <ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark round"><i class="bi bi-box-arrow-right"></i>Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark border border-primary rounded" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-door-open"></i>   Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark border border-primary rounded" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-left"></i>   Login</a>
        </li>
    }
    </ul>
</div>
