@{
    ViewData["Title"] = "Home Page";
}

@*<body class="mybody-bg-image">
    <div class="card bg-dark text-white">
        <img class="card-img" style="width: 85rem;" src="https://images.unsplash.com/photo-1664993981856-2076348ed8f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title">Welcome</h2>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>      
    </div>
</body>*@
